.back-button {
  background-color: rgba(0,0,0,0);
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin-left: 0.5rem;
  outline: none;

  &:hover {
    color: #ff9900;

    svg {
      fill: #ff9900;
    }
  }

  &__wrapper {
    align-items: center;
    display: flex;
    height: 3.5rem;
    left: 0;
    position: fixed;
    top: 0;
  }

  svg {
    fill: #fff;
    height: 21px;
    width: 23px;
  }
}

@media (max-width: 750px) {
  .back-button {
    padding: 0;

    &__wrapper {
      background-color: #333;
      border-bottom: 1px solid #666;
      width: 100%;
    }
  }
}
