{% extends 'index.html' %}
{% block title %}About{% endblock %}

{% block content %}
{% include "snippets/back-button/back-button.html" %}
<div class="about">
  <div class="about__title">
    <h2>ACERCA DE ESTE PROYECTO ...</h2>
  </div>
  <div class="about__row">
    <div class="about__column">
      <h4>¿Quién lo ha desarrollado?</h4>
  
      <p class="about__paragraph">Este proyecto ha sido desarrollado de manera altruista y desinteresada por el grupo de Computación Avanzada y e-Ciencia  del IFCA y el Servicio de Radiodiagnóstico del Hospital Universitario Marqués de Valdecilla. Ha contado con el apoyo de otros profesionales que se han prestado a brindar sus servicios sin coste alguno: gracias a Fernando y a Pedro por sus horas de programación; gracias a CAFE & ASOCIADOS por la asesoria jurídica y confección de los términos y condiciones de uso.</p>
    </div>
    <div class="about__column">
      <h4>¿Cuál es su finalidad?</h4>
  
      <p class="about__paragraph">Ante la situación de crisis motivada por la pandemia, múltiples profesionales sanitarios se han visto en la necesidad de aprender a identificar en radiografías de tórax los hallazgos característicos de COVID-19. La finalidad de este proyecto es la de facilitar este proceso a médicos, a residentes, a estudiantes y a todos aquellos interesados en adquirir esta competencia, proporcionando una herramienta que presenta ejemplos de radiografías de pacientes COVID-19 y ejemplos de radiografías de pacientes con hallazgos que podrían plantear diagnósticos diferenciales.</p>
    </div>
    <div class="about__column">
      <h4>Dedicado a ...</h4>
  
      <p class="about__paragraph">Dedicado a todos los profesionales del Hospital Universitario Marqués de Valdecilla y del resto de instituciones sanitarias, que de manera ejemplar han luchado desde el comienzo de esta pandemia por salvaguardar la salud y la vida de todos. Gracias al personal médico y de enfermería de los servicios de urgencias, de intensivos y de las plantas COVID-19; gracias a los radiólogos, técnicos y pacientes de los servicios de radiodiagnóstico; gracias al personal de limpieza, seguridad y mantenimiento; y a todos aquellos implicados de manera directa o indirecta en esta crisis sanitaria.</p>
    </div>
  </div>
</div>
{% endblock %}
