<!DOCTYPE html>
<html lang="es">
  <head>
    {% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="https://www.jose-aguilar.com/scripts/jquery/zoomy/zoomy.min.js"></script>
    <script type="text/javascript">
      $(function () {
        $('.zoom').zoomy();
      });
    </script>
    {% assets "scss_all" %}
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    {% endassets %}
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='assets/favicon.ico') }}"/>
    <title>{% block title %}{% endblock %} - Covid-19 Training</title>
    <meta charset="UTF-8"/>
    {% endblock %}
  </head>
  <body>
    <div class="page-wrapper">
      <div class="content">
        {% block content %}
        {% endblock %}
      </div>
      <div class="footer">
        {% block footer %}
        <a href="/">Política de utilización ética</a>
         | <a href="/">Política de privacidad</a>
         | <a href="/">Términos y condiciones</a>
         | <a href="/">Copyright &copy; IFCA - CSIC</a>
        {% endblock %}
      </div>
    </div>
    {% if message %}
      <p>Note: {{ message }}</p>
    {% endif %}
  </body>
</html>
