{% extends 'base.html' %}
{% block title %}Bienvenido{% endblock %}
{% block head %}
  {{ super() }}
  <script src="{{ url_for('static',filename='controller/logged.js') }}"></script>
{% endblock %}

{% block content %}
  <div class="logged">
    <div class="logged__avatar">
      <img
        src="{{ url_for('static',filename='assets/logo.png') }}"
        alt="Covid-19 Avatar"
      >
    </div>
    <h2>Bienvenido a COVID-19 Training</h2>

    Por favor, selecciona tu especialidad para continuar:
    <form action="/training" method="POST">
      {{ form.csrf_token }}
      <div class="logged__select">
        {{ form.type_of_profile.label }}{{ form.type_of_profile }}
      </div>
      <div class="logged__button">
        <input class="covid-button" type="submit" name="button_start" value="Continuar">
      </div>
    </form>
  </div>
{% endblock %}
