{% extends 'index.html' %}
{% block title %}Inicio{% endblock %}
{% block head %}
  {{ super() }}
  <script src="{{ url_for('static',filename='controller/login.js') }}"></script>
{% endblock %}

{% block content %}
{% include "snippets/back-button/back-button.html" %}
  <div class="content login">
    {% include "snippets/avatar/avatar.html" %}
    <div class="login__label">
      Inicia sesión en COVID-19 training
    </div>
    <div class="login__button">
      <button class="covid-button" onclick="onLogin()">
        Iniciar sesión
      </button>
      <p class="login__error" id="error"></p>
    </div>
    <div class="login__terms">
      <input
        class="login__terms__checkbox"
        type="checkbox"
        id="terms"
        onclick="checkTerms()"
      >
      <label for="terms">
        Acepto los términos y condiciones de uso
      </label>
    </div>
  </div>
{% endblock %}
