{% extends 'index.html' %}
{% block title %}{{ _('start.block-title') }}{% endblock %}
{% block head %}

  {{ super() }}
  <script src="{{ url_for('static',filename='controller/start.js') }}"></script>
{% endblock %}

{% block content %}
{% include "snippets/back-button.html" %}
  <div class="content start">
    {% include "snippets/avatar.html" %}
    <h2 class="start__title">{{ _('start.title') }}</h2>
    {% if speciality[0] == '' %}
      <p class="start__label">{{ _('start.speciality-select.label') }}</p>
    {% endif %}
    {% if speciality[0] != '' %}
      <div class="start__user-speciality">
        {{ _('start.user-speciality.label', speciality=speciality[1]) }}
        <div class="start__button">
          <button
            class="secondary-button"
            onclick="document.location.href = '/del_profile'"
          >
            {{ _('start.user-speciality.button') }}
          </button>
        </div>
      </div>
    {% endif %}
    <form action="/{{ g.language }}/training" method="POST">
      {% if speciality[0] == '' %}
        {{ form.csrf_token }}
        <div class="start__select">
          {{ form.type_of_profile }}
        </div>
      {% endif %}
      <div class="start__button">
        <button class="covid-button" type="submit" name="button_start">
          {{ _('start.button') }}
        </button>
      </div>
    </form>
    <div class="start__logout">
      {{ _('start.logout-label', email=email) }}
    </div>
  </div>
{% endblock %}
