{% extends 'index.html' %}
{% block title %}{{ _('start.block-title') }}{% endblock %}
{% block head %}

  {{ super() }}
  <script src="{{ url_for('static',filename='controller/start.js') }}"></script>
{% endblock %}

{% block content %}
{% include "snippets/back-button/back-button.html" %}
  <div class="content start">
    {% include "snippets/avatar/avatar.html" %}
    <h2 class="start__title">{{ _('start.title') }}</h2>
    <p class="start__label">{{ _('start.category-select.label') }}</p>
    <form action="/{{ g.language }}/training" method="POST">
      {{ form.csrf_token }}
      <div class="start__select">
        {{ form.type_of_profile }}
      </div>
      <div class="start__button">
        <button class="covid-button" type="submit" name="button_start">
          {{ _('start.button') }}
        </button>
      </div>
    </form>
    <div class="start__logout">
      {{ _('start.logout-label', email=email) }}
    </div>
  </div>
{% endblock %}
