.about {
  margin: 4rem 2rem;
  padding: 3rem 2rem;

  &__title {
    padding-left: 2rem;
    text-align: left;

    h2 {
      margin: 0;
    }
  }

  &__row {
    display: flex;
  }

  &__column {
    padding: 2rem;

    h4 {
      color: #ff9900;
      text-align: left;
    }
  }

  &__paragraph {
    font-size: 20px;
    text-align: justify;

    a {
      color: #ff9900;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 750px) {

  .about {
    margin: 4rem 0 1rem;
    padding: 2rem 0.5rem;

    &__title {
      font-size: 6vw;
      padding-left: 0;
    }

    &__row {
      flex-direction: column;
    }

    &__column {
      padding: 0;

      h4 {
        font-size: 6.2vw;
      }
    }

    &__paragraph {
      line-height: 1.6rem;
    }
  }
}
