$space: 0.25rem;
$space-2: $space * 2;
$space-3: $space * 3;
$space-4: $space * 4;
$space-5: $space * 5;
$space-6: $space * 6;
$space-7: $space * 7;
$space-8: $space * 8;
$space-9: $space * 9;
$space-10: $space * 10;
$space-11: $space * 11;
$space-12: $space * 12;

$header-height: 3.5rem;

$covid-organge: #ff9900;
$covid-black: #212121;
$covid-white: #fff;
$covid-dark-gray: #333;
$covid-gray: #666;
$covid-light-gray: #999;
$covid-clear-gray: #d9d9d9;

$covid-shadow: rgba(0, 0, 0, 0.05);