.home {
  background-color: #212121;
  margin: 0px auto 2rem;
  margin: 0px auto 2.9vh;

  &__container {
    background-color: #333;
    border-bottom: 2px solid #666;
    padding-top: 2rem;
    padding-top: 2.9vh;
  }

  &__title {
    color: #ff9900;
    font-size: 2.5vw;
    margin: 2.5rem auto 0;
    margin: 3.7vh auto 0;
  }

  .main {
    background-color: #333;
  }

  &__section {
    position: relative;
  }

  &__row {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 90%;

    .first {
      margin: 2rem;
    }
  }

  &__paragraph {
    font-size: 1.2vw;
    margin: 4rem auto 3rem;
    margin: 5.9vh auto 4.4vh;
    width: 78%;
  }

  &__button, &__info {
    margin-bottom: 2.5rem;
    margin-bottom: 3.7vh;
    padding: 0 8%;
    text-align: right;
    width: 50%;

    button {
      float: left;
      width: 75%;
    }

    a {
      color: #fff;
      font-size: 20px;
      font-size: 1.2vw;

      &:hover {
        color: #ff9900;
      }
    }
  }

  &__subtitle {
    font-size: 1.9vw;
    margin: 2.5rem auto;
    margin: 3.7vh auto;
  }

  &__column {
    padding: 1rem;
    padding: 1.42vh;
    width: 30%;

    h3 {
      color: #ff9900;
      font-size: 1.4vw;
      margin: 2.4vh auto;
    }
  }

  &__circle {
    background-color: #333;
    border: 2px solid #666;
    border-radius: 50%;
    margin: auto;
    max-height: 300px;
    max-width: 300px;
    width: 15.7vw;
  }

  &__text {
    font-size: 18px;
    font-size: 0.96vw;
  }
}

@media (max-width: 750px) {

  .home {
    &__title {
      font-size: 8vw;
      margin: 1rem auto 0;
    }

    &__paragraph {
      font-size: 20px;
      margin: 4rem auto 3rem;
      text-align: justify;
      width: 95%;
    }

    &__row {
      flex-direction: column;
      width: 95%;
    }

    &__button, &__info {
      padding: 0;
      text-align: unset;
      width: 100%;

      button {
        float: unset;
        width: 100%;
      }

      a {
        font-size: 4.6vw;
      }
    }

    &__subtitle {
      font-size: 7.7vw;
      margin: 2.5rem auto;
    }

    &__column {
      padding: 1rem;
      width: 100%;
  
      h3 {
        font-size: 7vw;
        margin-bottom: 0.5rem;
      }
    }

    &__circle {
      width: 75%;
    }

    &__text {
      font-size: 4.96vw;
      margin-top: 0.5rem;
    }
  }
}
