.logged {
  padding-top: 1rem;

  &__avatar {
    margin: auto;
    width: 120px;
    img {
      border-radius: 8px;
      border: 1px solid grey;
    }
  }

  &__select {
    margin: 0.5rem;

    label {
      display: none;
    }
  }

  &__button {
    margin: 1rem auto;
    position: relative;
    width: 50%;

    input {
      width: 100%;
    }
  }

  &__error {
    background-color: #C54842;
    color: whitesmoke;
    font-size: 12px;
    font-weight: bold;
    left: 3px;
    position: absolute;
    top: 36px;
  }
}

#type_of_profile {
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid #ffc000;
  color: whitesmoke;
  font-size: 16px;
  height: 1.75rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  outline: none;
  text-align: center;
  width: 40%;
}
