@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/base\.scss}line{font-family:\000031}}
body {
  background-image: url('https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA12066_hires.jpg');
  background-attachment: fixed; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/base\.scss}line{font-family:\000036}}
  select {
    background-color: #555;
    border: 1px solid #ffc000;
    border-radius: 4px;
    color: whitesmoke;
    font-size: 16px;
    height: 1.75rem;
    margin-top: 0.5rem;
    outline: none; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/base\.scss}line{font-family:\0000315}}
    select:hover {
      background-color: rgba(255, 192, 0, 0.75);
      color: #272727; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/base\.scss}line{font-family:\0000320}}
      select option:hover {
        background-color: #ffc000;
        color: #272727; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/base\.scss}line{font-family:\0000329}}
.covid-button {
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid #ffc000;
  border-radius: 4px;
  color: whitesmoke;
  cursor: pointer;
  font-family: Calibri, sans-serif;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  padding: 0.75rem;
  text-decoration: none; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/base\.scss}line{font-family:\0000341}}
  .covid-button:hover {
    background-color: rgba(255, 192, 0, 0.75);
    color: #272727; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/base\.scss}line{font-family:\0000346}}
    .covid-button:active {
      background-color: #ffc000;
      color: black; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/base\.scss}line{font-family:\0000353}}
.page-wrapper {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  font-family: Calibri, sans-serif;
  font-size: 24px;
  margin: auto;
  min-height: 98vh;
  position: relative;
  text-align: center; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/base\.scss}line{font-family:\0000363}}
  .page-wrapper .content {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #ffc000;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.5rem;
    margin: 3.5rem auto 2rem;
    padding: 1rem;
    width: 70%; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/base\.scss}line{font-family:\0000375}}
    .page-wrapper .footer {
      font-size: 16px;
      height: 2rem;
      margin-top: auto;
      width: 100%; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/base\.scss}line{font-family:\0000379}}
      .page-wrapper .footer a {
        color: whitesmoke;
        text-decoration: none; }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/base\.scss}line{font-family:\0000383}}
        .page-wrapper .footer a:hover {
          text-decoration: underline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/base\.scss}line{font-family:\0000391}}
img {
  width: 100%;
  height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/login\.scss}line{font-family:\000031}}
.login {
  padding-top: 1rem; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/login\.scss}line{font-family:\000033}}
  .login__avatar {
    margin: auto;
    width: 120px; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/login\.scss}line{font-family:\000035}}
    .login__avatar img {
      border-radius: 8px;
      border: 1px solid grey; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/login\.scss}line{font-family:\0000312}}
  .login__label {
    margin-top: 2rem; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/login\.scss}line{font-family:\0000316}}
    .login__button {
      margin: 1rem auto;
      position: relative;
      width: 50%; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/login\.scss}line{font-family:\0000320}}
      .login__button button {
        width: 100%; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/login\.scss}line{font-family:\0000326}}
  .login__error {
    background-color: #C54842;
    color: whitesmoke;
    font-size: 16px;
    font-weight: bold;
    left: 3px;
    position: absolute;
    top: 34px; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/login\.scss}line{font-family:\0000336}}
    .login__terms {
      margin: 2rem 1rem 1rem;
      font-size: 14px; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/login\.scss}line{font-family:\0000339}}
      .login__terms__checkbox {
        width: 1rem;
        height: 1rem; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/login\.scss}line{font-family:\0000346}}
  .login__logout {
    font-size: 14px; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/login\.scss}line{font-family:\0000347}}
    .login__logout a {
      color: #ffc000;
      text-decoration: none; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/login\.scss}line{font-family:\0000351}}
      .login__logout a:hover {
        text-decoration: underline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/logged\.scss}line{font-family:\000031}}
.logged {
  padding-top: 1rem; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/logged\.scss}line{font-family:\000033}}
  .logged__avatar {
    margin: auto;
    width: 120px; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/logged\.scss}line{font-family:\000035}}
    .logged__avatar img {
      border-radius: 8px;
      border: 1px solid grey; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/logged\.scss}line{font-family:\0000312}}
  .logged__select {
    margin: 0.5rem; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/logged\.scss}line{font-family:\0000314}}
    .logged__select label {
      display: none; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/logged\.scss}line{font-family:\0000320}}
  .logged__button {
    margin: 1rem auto;
    position: relative;
    width: 50%; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/logged\.scss}line{font-family:\0000324}}
    .logged__button input {
      width: 100%; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/logged\.scss}line{font-family:\0000330}}
  .logged__error {
    background-color: #C54842;
    color: whitesmoke;
    font-size: 12px;
    font-weight: bold;
    left: 3px;
    position: absolute;
    top: 36px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/logged\.scss}line{font-family:\0000342}}
#type_of_profile {
  margin-bottom: 1rem;
  width: 40%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/training\.scss}line{font-family:\000031}}
.training {
  display: flex; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/training\.scss}line{font-family:\000033}}
  .training__actions {
    width: 35%;
    padding: 0.75rem; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/training\.scss}line{font-family:\000038}}
    .training__end {
      margin-bottom: 1rem; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/training\.scss}line{font-family:\000039}}
      .training__end button {
        width: 100%; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/training\.scss}line{font-family:\0000315}}
  .training__container {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #ffc000;
    border-radius: 4px;
    padding: 1rem; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/training\.scss}line{font-family:\0000322}}
    .training__next {
      margin-top: 2rem;
      width: 100%; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/training\.scss}line{font-family:\0000327}}
      .training__images {
        background-color: black;
        border: 1px solid grey;
        border-radius: 4px;
        margin: 0.75rem;
        width: 65%; }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/training\.scss}line{font-family:\0000333}}
        .training__images img {
          border: 1px solid grey;
          border-radius: 4px;
          max-width: 100%;
          max-height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/training\.scss}line{font-family:\0000344}}
.zoom parent-zoom {
  height: auto;
  width: auto; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/training\.scss}line{font-family:\0000349}}
  label {
    font-size: 20px; }

    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/training\.scss}line{font-family:\0000353}}
    #type_of_diag {
      font-size: 14px;
      width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\000031}}
.results__details {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid grey;
  border-radius: 16px;
  font-size: 20px;
  margin: auto;
  width: 75%; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\0000310}}
  .results__try-again {
    margin-bottom: 1rem; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\0000312}}
    .results__try-again button {
      width: 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\0000318}}
.results__separator {
  height: 1px;
  background-color: #ffc000;
  width: 90%;
  margin: 3rem auto; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\0000325}}
  .results__card {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid grey;
    border-radius: 16px;
    width: 70%;
    margin: auto;
    padding: 1rem; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\0000334}}
    .results__element {
      display: inline-grid;
      margin-bottom: 1rem; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\0000339}}
      .results__answer {
        display: inline-flex;
        font-size: 18px;
        margin: 0.25rem 0; }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\0000345}}
        .results__correct {
          color: green;
          margin: 0; }
          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\0000350}}
          .results__wrong {
            color: red;
            margin: 0; }
            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\0000355}}
            .results__image img {
              border-radius: 0.5rem; }
