@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/about\.scss}line{font-family:\000033}}
.about {
  margin: 3.5rem 2rem 0;
  padding: 3rem 2rem 2rem; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/about\.scss}line{font-family:\000036}}
  .about__title {
    padding-left: 2rem;
    text-align: left;
    text-transform: uppercase; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/about\.scss}line{font-family:\0000310}}
    .about__title h2 {
      margin: 0; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/about\.scss}line{font-family:\0000316}}
  .about__row {
    display: flex; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/about\.scss}line{font-family:\0000320}}
    .about__column {
      padding: 2rem; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/about\.scss}line{font-family:\0000322}}
      .about__column h4 {
        color: #ff9900;
        text-align: left; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/about\.scss}line{font-family:\0000329}}
  .about__paragraph {
    font-size: 20px;
    text-align: justify; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/about\.scss}line{font-family:\0000332}}
    .about__paragraph a {
      color: #ff9900;
      font-weight: bold;
      text-decoration: none; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/about\.scss}line{font-family:\0000336}}
      .about__paragraph a:hover {
        text-decoration: underline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/about\.scss}line{font-family:\0000346}}
@media (max-width: 750px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/about\.scss}line{font-family:\0000346}}
  .about {
    margin: 3.5rem 0 1rem;
    padding: 2rem 0.5rem;   }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/about\.scss}line{font-family:\0000349}}
    .about__title {
      font-size: 6vw;
      padding-left: 0;   }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/about\.scss}line{font-family:\0000354}}
      .about__row {
        flex-direction: column;   }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/about\.scss}line{font-family:\0000358}}
        .about__column {
          padding: 0;   }
          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/about\.scss}line{font-family:\0000360}}
          .about__column h4 {
            font-size: 6.2vw;   }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/about\.scss}line{font-family:\0000366}}
    .about__paragraph {
      line-height: 1.6rem;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home\.scss}line{font-family:\000033}}
.home {
  background-color: #212121;
  margin: 0 auto; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home\.scss}line{font-family:\000036}}
  .home__container {
    background-color: #333;
    border-bottom: 2px solid #666;
    padding-top: 2rem;
    padding-top: 2.9vh; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home\.scss}line{font-family:\0000313}}
    .home__lang {
      align-items: center;
      color: #ff9900;
      display: flex;
      justify-content: flex-end;
      margin-right: 1rem;
      position: absolute;
      right: 0;
      top: 0.75rem; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home\.scss}line{font-family:\0000322}}
      .home__lang a {
        color: #ff9900;
        font-size: 18px; }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home\.scss}line{font-family:\0000327}}
        .home__lang img {
          height: 18px; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home\.scss}line{font-family:\0000333}}
  .home__title {
    color: #ff9900;
    font-size: 2.5vw;
    margin: 2.5rem auto 0;
    margin: 3vh auto 0;
    text-transform: uppercase; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home\.scss}line{font-family:\0000341}}
    .home .main {
      background-color: #333; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home\.scss}line{font-family:\0000345}}
      .home__section {
        position: relative; }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home\.scss}line{font-family:\0000349}}
        .home__row {
          align-items: center;
          display: flex;
          justify-content: center;
          margin: auto;
          width: 90%; }
          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home\.scss}line{font-family:\0000355}}
          .home__row .first {
            margin: 2rem; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home\.scss}line{font-family:\0000361}}
  .home__paragraph {
    font-size: 1.2vw;
    margin: 4rem auto 3rem;
    margin: 5.9vh auto 4.4vh;
    width: 78%; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home\.scss}line{font-family:\0000368}}
    .home__button, .home__info {
      margin-bottom: 2.5rem;
      margin-bottom: 3.7vh;
      padding: 0 8%;
      text-align: right;
      width: 50%; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home\.scss}line{font-family:\0000374}}
      .home__button button, .home__info button {
        float: left;
        text-transform: uppercase;
        width: 75%; }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home\.scss}line{font-family:\0000380}}
        .home__button a, .home__info a {
          color: #fff;
          font-size: 20px;
          font-size: 1.2vw; }
          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home\.scss}line{font-family:\0000384}}
          .home__button a:hover, .home__info a:hover {
            color: #ff9900; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home\.scss}line{font-family:\0000392}}
  .home__subtitle {
    font-size: 1.9vw;
    margin: 2.5rem auto;
    margin: 3.7vh auto;
    text-transform: uppercase; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home\.scss}line{font-family:\0000399}}
    .home__column {
      padding: 1rem;
      padding: 1.42vh;
      width: 30%; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home\.scss}line{font-family:\00003103}}
      .home__column h3 {
        color: #ff9900;
        font-size: 1.4vw;
        margin: 2.4vh auto; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home\.scss}line{font-family:\00003111}}
  .home__circle {
    background-color: #333;
    border: 2px solid #666;
    border-radius: 50%;
    margin: auto;
    max-height: 300px;
    max-width: 300px;
    width: 15.7vw; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home\.scss}line{font-family:\00003121}}
    .home__text {
      font-size: 18px;
      font-size: 0.96vw; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home\.scss}line{font-family:\00003128}}
@media (max-width: 750px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home\.scss}line{font-family:\00003128}}
  .home {
    margin: 0px auto 2rem;
    margin: 0px auto 2.9vh;   }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home\.scss}line{font-family:\00003131}}
    .home__container {
      padding-top: 5vh;   }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home\.scss}line{font-family:\00003135}}
      .home__title {
        font-size: 8vw;
        margin: 1rem auto 0;   }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home\.scss}line{font-family:\00003140}}
        .home__lang {
          margin-right: 0.75rem;   }
          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home\.scss}line{font-family:\00003142}}
          .home__lang a {
            font-size: 20px;   }
            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home\.scss}line{font-family:\00003146}}
            .home__lang img {
              height: 20px;   }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home\.scss}line{font-family:\00003152}}
    .home__section {
      margin: 1.5rem 0.5rem auto;   }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home\.scss}line{font-family:\00003156}}
      .home__paragraph {
        font-size: 20px;
        margin: 4rem auto 3rem;
        text-align: justify;
        width: 98%;   }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home\.scss}line{font-family:\00003163}}
        .home__row {
          flex-direction: column;
          width: calc(100% - $space-4);   }
          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home\.scss}line{font-family:\00003168}}
          .home__button, .home__info {
            padding: 0;
            text-align: unset;
            width: 100%;   }
            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home\.scss}line{font-family:\00003172}}
            .home__button button, .home__info button {
              float: unset;
              width: 100%;   }
              @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home\.scss}line{font-family:\00003177}}
              .home__button a, .home__info a {
                font-size: 4.6vw;   }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home\.scss}line{font-family:\00003183}}
    .home__subtitle {
      font-size: 7.7vw;
      margin: 2.5rem auto;   }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home\.scss}line{font-family:\00003188}}
      .home__column {
        padding: 1rem;
        width: 100%;   }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home\.scss}line{font-family:\00003191}}
        .home__column h3 {
          font-size: 7vw;
          margin-bottom: 0.5rem;   }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home\.scss}line{font-family:\00003198}}
    .home__circle {
      width: 75%;   }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home\.scss}line{font-family:\00003202}}
      .home__text {
        font-size: 4.96vw;
        margin-top: 0.5rem;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/login\.scss}line{font-family:\000033}}
.login__label {
  margin-top: 2rem; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/login\.scss}line{font-family:\000037}}
  .login__button {
    margin: 1rem auto;
    position: relative;
    width: 50%; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/login\.scss}line{font-family:\0000311}}
    .login__button button {
      width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/login\.scss}line{font-family:\0000317}}
.login__error {
  background-color: #C54842;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 0.25rem 1rem;
  text-align: left;
  margin: 0 0.25rem;
  visibility: hidden; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/login\.scss}line{font-family:\0000328}}
  .login__terms {
    margin: 2rem 1rem 1rem;
    font-size: 14px; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/login\.scss}line{font-family:\0000331}}
    .login__terms__checkbox {
      width: 1rem;
      height: 1rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/login\.scss}line{font-family:\0000340}}
@media (max-width: 750px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/login\.scss}line{font-family:\0000340}}
  .login {
    padding: 1rem;   }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/login\.scss}line{font-family:\0000342}}
    .login__label {
      margin-top: 3rem;
      font-size: 5.8vw;   }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/login\.scss}line{font-family:\0000347}}
      .login__button {
        margin: 1.5rem auto;
        width: unset;   }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/login\.scss}line{font-family:\0000352}}
        .login__error {
          font-size: 4vw;
          margin: 0;
          padding: 0.25rem 0.25rem 0.25rem 0.5rem;   }
          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/login\.scss}line{font-family:\0000358}}
          .login__terms {
            margin: unset;
            display: flex;
            align-items: center;   }
            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/login\.scss}line{font-family:\0000362}}
            .login__terms__checkbox {
              width: 1rem;
              height: 1rem;   }
              @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/login\.scss}line{font-family:\0000367}}
              .login__terms label {
                font-size: 4.4vw;
                margin-left: 0.25rem;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/not-found\.scss}line{font-family:\000033}}
.not-found__title {
  align-items: center;
  display: flex;
  font-size: 5vw;
  font-weight: bolder;
  justify-content: center; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/not-found\.scss}line{font-family:\000039}}
  .not-found__title .error-404 {
    color: #ff9900; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/not-found\.scss}line{font-family:\0000315}}
.not-found__subtitle {
  color: #d9d9d9; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/not-found\.scss}line{font-family:\0000319}}
  .not-found__button {
    width: 75%;
    margin: 10rem auto 2rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/not-found\.scss}line{font-family:\0000326}}
@media (max-width: 750px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/not-found\.scss}line{font-family:\0000326}}
  .not-found__title {
    font-size: 15vw;   }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/not-found\.scss}line{font-family:\0000330}}
    .not-found__button {
      bottom: 1 2rem;
      margin: unset;
      position: absolute;
      width: calc(100% - $space-8);   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\000033}}
.results__title {
  color: #ff9900;
  text-transform: uppercase; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\000038}}
  .results__details {
    background-color: #333;
    border: 1px solid #999;
    border-radius: 8px;
    font-size: 20px;
    margin: auto;
    text-align: left;
    width: 75%; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\0000316}}
    .results__details .list {
      color: #ff9900;
      line-height: 1.8rem;
      padding-left: 1.5rem; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\0000320}}
      .results__details .list b {
        color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\0000328}}
.results__note {
  background-color: #424242;
  border-top: 1px solid #999;
  border-radius: 0 0 8px 8px;
  padding: 1rem; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\0000333}}
  .results__note a {
    color: #ff9900;
    text-decoration: none; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\0000336}}
    .results__note a:hover {
      text-decoration: underline; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\0000342}}
  .results__note p {
    margin: 0; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\0000346}}
    .results__note strong {
      color: #ff9900; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\0000352}}
.results__paragraph-first {
  color: #d9d9d9; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\0000358}}
.results__try-again {
  margin-bottom: 1rem; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\0000360}}
  .results__try-again button {
    width: 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\0000366}}
.results__separator {
  height: 1px;
  background-color: #ff9900;
  width: 90%;
  margin: 3rem auto; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\0000373}}
  .results__subtitle {
    text-transform: uppercase; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\0000377}}
    .results__card {
      background-color: #333;
      border: 1px solid #999;
      border-radius: 8px;
      width: 70%;
      margin: auto;
      padding: 1rem; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\0000386}}
      .results__element {
        display: inline-grid;
        margin-bottom: 1rem; }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\0000391}}
        .results__answer {
          display: inline-flex;
          font-size: 18px;
          margin: 0.25rem 0; }
          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\0000397}}
          .results__correct {
            color: #ff9900;
            margin: 0; }
            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\00003102}}
            .results__wrong {
              color: #d9d9d9;
              margin: 0; }
              @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\00003107}}
              .results__image img {
                border-radius: 0.5rem;
                height: 100%;
                width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\00003115}}
@media (max-width: 750px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\00003115}}
  .results__title {
    font-size: 8vw;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: 1rem;   }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\00003122}}
    .results__details {
      background-color: unset;
      border: unset;
      border-radius: unset;
      margin-left: -1rem;
      margin-right: -1rem;
      width: 100%;   }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\00003131}}
      .results__note {
        border: 2px solid #666;
        border-radius: unset;
        font-size: 4.4vw;
        margin-right: -2rem;
        padding: 0.5rem;   }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\00003137}}
        .results__note a {
          color: #ff9900;   }
          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\00003141}}
          .results__note p {
            margin: 0;   }
            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\00003145}}
            .results__note strong {
              color: #ff9900;   }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\00003152}}
  .results__paragraph-first, .results__paragraph-again {
    margin: 2rem 0 0;   }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\00003156}}
    .results__paragraph-again {
      font-size: 4.7vw;   }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\00003160}}
      .results__try-again {
        margin-bottom: 2rem;
        padding: 1rem 0;   }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\00003163}}
        .results__try-again button {
          width: 100%;   }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\00003169}}
  .results__separator {
    display: none;   }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\00003173}}
    .results__wrong-answers {
      background-color: #424242;
      border-top: 2px solid #ff9900;
      margin: 0 -1rem -1rem -1rem;   }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\00003179}}
      .results__subtitle {
        font-size: 7vw;
        margin-bottom: 3rem;
        padding-top: 0.25rem;   }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\00003185}}
        .results__card {
          background-color: unset;
          border: unset;
          border-radius: unset;
          border-top: 2px solid #666;
          padding: unset;
          width: unset;   }
          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\00003194}}
          .results__element {
            margin-bottom: unset;
            background-color: #333;
            padding: 1rem;
            text-align: left;   }
            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/results\.scss}line{font-family:\00003201}}
            .results__image img {
              border-radius: unset;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/start\.scss}line{font-family:\000033}}
.start__title {
  color: #ff9900;
  text-transform: uppercase; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/start\.scss}line{font-family:\000038}}
  .start__user-speciality button {
    margin: 0.5rem auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/start\.scss}line{font-family:\0000314}}
.start__select {
  margin: auto;
  width: 50%; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/start\.scss}line{font-family:\0000317}}
  .start__select select {
    margin-bottom: 1rem;
    width: 100%; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/start\.scss}line{font-family:\0000322}}
    .start__select label {
      display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/start\.scss}line{font-family:\0000328}}
.start__button {
  margin: 1rem auto;
  position: relative;
  width: 50%; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/start\.scss}line{font-family:\0000332}}
  .start__button button {
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/start\.scss}line{font-family:\0000338}}
.start__error {
  background-color: #C54842;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  left: 3px;
  position: absolute;
  top: 36px; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/start\.scss}line{font-family:\0000348}}
  .start__logout {
    color: #d9d9d9;
    font-size: 14px; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/start\.scss}line{font-family:\0000350}}
    .start__logout a {
      color: #ff9900;
      text-decoration: none; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/start\.scss}line{font-family:\0000353}}
      .start__logout a:hover {
        text-decoration: underline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/start\.scss}line{font-family:\0000363}}
@media (max-width: 750px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/start\.scss}line{font-family:\0000363}}
  .start {
    padding: 1rem;   }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/start\.scss}line{font-family:\0000365}}
    .start__title {
      font-size: 9.2vw;   }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/start\.scss}line{font-family:\0000369}}
      .start__label {
        font-size: 5.5vw;
        text-align: justify;   }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/start\.scss}line{font-family:\0000374}}
        .start__select {
          width: 100%;   }
          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/start\.scss}line{font-family:\0000376}}
          .start__select select {
            margin-bottom: 0.5rem;   }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/start\.scss}line{font-family:\0000382}}
    .start__button {
      width: unset;   }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/start\.scss}line{font-family:\0000386}}
      .start__logout {
        font-size: 3.75vw;   }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/start\.scss}line{font-family:\0000388}}
        .start__logout strong {
          color: #fff;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/styles\.scss}line{font-family:\000033}}
body {
  background-color: #212121;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/styles\.scss}line{font-family:\000039}}
  select {
    background-color: #666;
    border: 2px solid #666;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    height: 1.75rem;
    margin-top: 0.5rem;
    outline: none; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/styles\.scss}line{font-family:\0000319}}
    select:hover {
      background-color: #666;
      color: #fff; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/styles\.scss}line{font-family:\0000324}}
      select option:hover {
        background-color: #666;
        color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/styles\.scss}line{font-family:\0000333}}
.covid-button {
  background-color: #ff9900;
  border: 2px solid #ff9900;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  padding: 0.75rem;
  text-decoration: none; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/styles\.scss}line{font-family:\0000345}}
  .covid-button:focus {
    color: #212121; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/styles\.scss}line{font-family:\0000351}}
.secondary-button {
  background-color: transparent;
  border: 2px solid #ff9900;
  border-radius: 4px;
  color: #ff9900;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  width: 100%; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/styles\.scss}line{font-family:\0000364}}
  .secondary-button:focus {
    background-color: #ff9900;
    color: #212121; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/styles\.scss}line{font-family:\0000369}}
    .secondary-button:active {
      background-color: #ff9900;
      color: #212121; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/styles\.scss}line{font-family:\0000376}}
.page-wrapper {
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  margin: auto;
  min-height: 100vh;
  text-align: center; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/styles\.scss}line{font-family:\0000384}}
  .page-wrapper .content {
    margin: 3.5rem auto 2rem;
    padding: 1rem;
    width: 70%; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/styles\.scss}line{font-family:\0000388}}
    .page-wrapper .content__wrapper {
      width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/styles\.scss}line{font-family:\0000396}}
img {
  max-width: 100%;
  max-height: 100%; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/styles\.scss}line{font-family:\00003101}}
  @media (max-width: 800px) {
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/styles\.scss}line{font-family:\00003101}}
    .covid-button {
      width: 100%;   }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/styles\.scss}line{font-family:\00003103}}
      .covid-button:hover {
        color: unset;   }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/styles\.scss}line{font-family:\00003109}}
    .page-wrapper .content {
      margin: 3.5rem auto auto;
      width: unset;   }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/styles\.scss}line{font-family:\00003116}}
    a, button {
      -webkit-tap-highlight-color: transparent;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/training\.scss}line{font-family:\000033}}
.training {
  display: flex; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/training\.scss}line{font-family:\000035}}
  .training__actions {
    width: 35%;
    padding: 0.75rem; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/training\.scss}line{font-family:\0000310}}
    .training__data p {
      margin: unset; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/training\.scss}line{font-family:\0000316}}
  .training__end {
    margin-bottom: 1rem; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/training\.scss}line{font-family:\0000318}}
    .training__end button {
      width: 100%; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/training\.scss}line{font-family:\0000324}}
  .training__container {
    background-color: #333;
    border: 2px solid #666;
    border-radius: 4px;
    padding: 1rem; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/training\.scss}line{font-family:\0000331}}
    .training__next {
      margin-top: 2rem;
      width: 100%; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/training\.scss}line{font-family:\0000336}}
      .training__images--desktop {
        border: 1px solid #999;
        border-radius: 4px;
        display: unset;
        margin: 0.75rem;
        width: 65%; }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/training\.scss}line{font-family:\0000342}}
        .training__images--desktop img {
          border: 1px solid #999;
          border-radius: 4px;
          width: 100%;
          height: 100%; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/training\.scss}line{font-family:\0000351}}
  .training__images--mobile {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/training\.scss}line{font-family:\0000357}}
.zoom parent-zoom {
  height: auto;
  width: auto; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/training\.scss}line{font-family:\0000362}}
  label {
    font-size: 20px; }

    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/training\.scss}line{font-family:\0000366}}
    #type_of_diag {
      font-size: 14px;
      width: 100%; }

      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/training\.scss}line{font-family:\0000371}}
      @media (max-width: 750px) {
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/training\.scss}line{font-family:\0000371}}
        .page-wrapper .content .training {
          padding: unset;   }
          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/training\.scss}line{font-family:\0000375}}
          .training {
            flex-direction: column-reverse;   }
            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/training\.scss}line{font-family:\0000377}}
            .training__actions {
              display: flex;
              flex-direction: column-reverse;
              margin-left: -1rem;
              margin-right: -1rem;
              padding: unset;
              width: unset;   }
              @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/training\.scss}line{font-family:\0000386}}
              .training__images--mobile {
                border: unset;
                border-radius: unset;
                display: unset;
                margin: -1rem -1rem -6px -1rem;
                width: unset;   }
                @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/training\.scss}line{font-family:\0000392}}
                .training__images--mobile img {
                  width: 100%;
                  height: 100%;   }
            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/training\.scss}line{font-family:\0000399}}
            .training__images--desktop {
              display: none;   }
              @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/training\.scss}line{font-family:\00003103}}
              .training__container {
                background-color: #333;
                border: unset;
                border-top: 2px solid #666;
                border-bottom: 2px solid #666;
                border-radius: unset;
                padding: 1rem;   }
                @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/training\.scss}line{font-family:\00003112}}
                .training__data {
                  display: flex;   }
                  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/training\.scss}line{font-family:\00003114}}
                  .training__data .field {
                    font-size: 6.4vw;
                    width: 50%;   }
                    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/training\.scss}line{font-family:\00003117}}
                    .training__data .field strong {
                      color: #ff9900;
                      font-weight: bold;   }
            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/training\.scss}line{font-family:\00003126}}
            .training__select label {
              float: left;   }
              @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/training\.scss}line{font-family:\00003130}}
              .training__end {
                margin: 0.5rem 0;
                padding: 1rem;   }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/training\.scss}line{font-family:\00003137}}
        #type_of_diag {
          font-size: 4.45vw;
          margin: 0;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/avatar\.scss}line{font-family:\000033}}
.avatar {
  height: 122px;
  margin-top: 1rem; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/avatar\.scss}line{font-family:\000036}}
  .avatar__image {
    border: 1px solid grey;
    border-radius: 8px;
    height: 120px;
    width: 120px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/back-button\.scss}line{font-family:\000033}}
.back-button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin-left: 0.5rem;
  outline: none; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/back-button\.scss}line{font-family:\0000312}}
  .back-button:hover {
    color: #ff9900; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/back-button\.scss}line{font-family:\0000314}}
    .back-button:hover svg {
      fill: #ff9900; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/back-button\.scss}line{font-family:\0000320}}
  .back-button__wrapper {
    align-items: center;
    background-color: #333;
    border-bottom: 2px solid #666;
    display: flex;
    height: 3.5rem;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/back-button\.scss}line{font-family:\0000332}}
    .back-button svg {
      fill: #fff;
      height: 21px;
      width: 23px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/back-button\.scss}line{font-family:\0000340}}
@media (max-width: 750px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/back-button\.scss}line{font-family:\0000340}}
  .back-button {
    padding: 0;   }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/back-button\.scss}line{font-family:\0000342}}
    .back-button__wrapper {
      border-bottom-width: 1px;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/footer\.scss}line{font-family:\000033}}
.footer {
  background-color: #191919;
  border-top: 2px solid #666;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  height: 2.25rem;
  justify-content: center;
  margin-top: auto;
  padding-top: 1rem;
  width: 100%; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/footer\.scss}line{font-family:\0000314}}
  .footer__link {
    color: #fff;
    text-decoration: none; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/footer\.scss}line{font-family:\0000317}}
    .footer__link:hover {
      color: #ff9900;
      text-decoration: underline; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/footer\.scss}line{font-family:\0000324}}
  .footer__separator, .footer__copyright {
    margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/footer\.scss}line{font-family:\0000330}}
@media (max-width: 800px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/footer\.scss}line{font-family:\0000330}}
  .footer {
    background-color: #191919;
    border-top: 2px solid #666;
    flex-direction: column;
    height: 7rem;
    padding-top: 0.75rem;   }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/footer\.scss}line{font-family:\0000336}}
    .footer__separator {
      display: none;   }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/footer\.scss}line{font-family:\0000340}}
      .footer__link {
        margin: 0.25rem;   }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/footer\.scss}line{font-family:\0000344}}
        .footer__copyright {
          margin: 0.25rem 0 0.75rem;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home-button\.scss}line{font-family:\000033}}
.home-button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin-left: 0.5rem;
  outline: none; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home-button\.scss}line{font-family:\0000312}}
  .home-button:hover {
    color: #ff9900; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home-button\.scss}line{font-family:\0000316}}
    .home-button:hover svg path, .home-button:hover svg polygon,
    .home-button:hover svg rect {
      fill: #ff9900; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home-button\.scss}line{font-family:\0000322}}
  .home-button__wrapper {
    align-items: center;
    background-color: #333;
    border-bottom: 2px solid #666;
    display: flex;
    height: 3.5rem;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home-button\.scss}line{font-family:\0000334}}
    .home-button svg {
      width: 1em;
      height: 1em; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home-button\.scss}line{font-family:\0000341}}
      .home-button svg path, .home-button svg polygon, .home-button svg rect {
        fill: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home-button\.scss}line{font-family:\0000347}}
@media (max-width: 750px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home-button\.scss}line{font-family:\0000347}}
  .home-button {
    padding: 0;   }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedrosolisgarcia\/Repositories\/Web\ Development\/covid19\/static\/styles\/home-button\.scss}line{font-family:\0000349}}
    .home-button__wrapper {
      border-bottom-width: 1px;   }
}
