@import "common";

.results {
  &__title {
    color: $covid-organge;
    text-transform: uppercase;
  }

  &__details {
    background-color: $covid-dark-gray;
    border: 1px solid $covid-light-gray;
    border-radius: 8px;
    font-size: 20px;
    margin: auto;
    text-align: left;
    width: 75%;

    .list {
      color: $covid-organge;
      line-height: 1.8rem;
      padding-left: $space-6;

      b {
        color: $covid-white;
      }
    }
  }

  &__note {
    background-color: #424242;
    border-top: 1px solid $covid-light-gray;
    border-radius: 0 0 8px 8px;
    padding: $space-4;

    a {
      color: $covid-organge;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      margin: 0;
    }

    strong {
      color: $covid-organge;
    }
  }

  &__paragraph {
    &-first {
      color: $covid-clear-gray
    }
  }

  &__try-again {
    margin-bottom: $space-4;

    button {
      width: 50%;
    }
  }

  &__separator {
    height: 1px;
    background-color: $covid-organge;
    width: 90%;
    margin: $space-12 auto;
  }

  &__subtitle {
    text-transform: uppercase;
  }

  &__card {
    background-color: $covid-dark-gray;
    border: 1px solid $covid-light-gray;
    border-radius: 8px;
    width: 70%;
    margin: auto;
    padding: $space-4;
  }

  &__element {
    display: inline-grid;
    margin-bottom: $space-4;
  }

  &__answer {
    display: inline-flex;
    font-size: 18px;
    margin: $space 0;
  }

  &__correct {
    color: $covid-organge;
    margin: 0;
  }

  &__wrong {
    color: $covid-clear-gray;
    margin: 0;
  }

  &__image img {
    border-radius: $space-2;
    height:100%;
    width:100%;
  }
}

@media (max-width: 750px) {
  .results {
    &__title {
      font-size: 8vw;
      margin-left: -$space-4;
      margin-right: -$space-4;
      margin-top: $space-4;
    }

    &__details {
      background-color: unset;
      border: unset;
      border-radius: unset;
      margin-left: -$space-4;
      margin-right: -$space-4;
      width: 100%;
    }

    &__note {
      border: 2px solid $covid-gray;
      border-radius: unset;
      font-size: 4.4vw;
      margin-right: -$space-8;
      padding: $space-2;

      a {
        color: $covid-organge;
      }

      p {
        margin: 0;
      }

      strong {
        color: $covid-organge;
      }

    }

    &__paragraph-first, &__paragraph-again {
      margin: $space-8 0 0;
    }

    &__paragraph-again {
      font-size: 4.7vw;
    }

    &__try-again {
      margin-bottom: $space-8;
      padding: $space-4 0;
  
      button {
        width: 100%;
      }
    }

    &__separator {
      display: none;
    }

    &__wrong-answers {
      background-color: #424242;
      border-top: 2px solid $covid-organge;
      margin: 0 -$space-4 -$space-4 -$space-4;
    }

    &__subtitle {
      font-size: 7vw;
      margin-bottom: $space-12;
      padding-top: $space;
    }

    &__card {
      background-color: unset;
      border: unset;
      border-radius: unset;
      border-top: 2px solid $covid-gray;
      padding: unset;
      width: unset;
    }

    &__element {
      margin-bottom: unset;
      background-color: $covid-dark-gray;
      padding: $space-4;
      text-align: left;
    }

    &__image img {
      border-radius: unset;
    }
  }
}
