.start {
  &__select {
    margin: 0.5rem;

    label {
      display: none;
    }
  }

  &__button {
    margin: 1rem auto;
    position: relative;
    width: 50%;

    input {
      width: 100%;
    }
  }

  &__error {
    background-color: #C54842;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    left: 3px;
    position: absolute;
    top: 36px;
  }

  &__logout {
    font-size: 14px;
    a {
      color: #ff9900;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

#type_of_profile {
  margin-bottom: 1rem;
  width: 40%;
}

@media (max-width: 750px) {
  .start {
    &__title {
      color: #ff9900;
      font-size: 9.2vw;
      text-transform: uppercase;
    }

    &__label {
      font-size: 5.5vw;
      text-align: justify;
    }

    &__select {
      margin: unset;
    }

    &__button {
      width: unset;
    }

    &__logout {
      color: #d9d9d9;
      font-size: 3.75vw;

      strong {
        color: #fff;
      }
    }
  }

  #type_of_profile {
    margin-bottom: 0.5rem;
    width: 100%;
  }
}
