body {
  background-color: #212121;
  margin: 0;
}

select {
  background-color: #636363;
  border: 2px solid #ff9900;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  height: 1.75rem;
  margin-top: 0.5rem;
  outline: none;

  &:hover {
    background-color: rgba(255, 153, 0, 0.75);
    color: #212121;
  }

  option {
    &:hover {
      background-color: #ff9900;
      color: #212121;
    }
  }
}

.covid-button {
  background-color: #636363;
  border: 2px solid #ff9900;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-family: Calibri, sans-serif;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;

  &:hover {
    background-color: rgba(255, 153, 0, 0.75);
    color: #212121;
  }

  &:active {
    background-color: #ff9900;
    color: #212121;
  }
}

.page-wrapper {
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: Calibri, sans-serif;
  font-size: 24px;
  margin: auto;
  min-height: 98vh;
  text-align: center;

  .content {
    background-color: #353535;
    border: 1px solid #ff9900;
    border-radius: 4px;
    margin: 3.5rem auto 2rem;
    padding: 1rem;
    width: 70%;

    &__wrapper {
      width: 100%;
    }
  }
}

img { 
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 800px) {
  .page-wrapper {
    min-height: 100vh;
  }
} 
