@import "./common";

body {
  background-color: $covid-black;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

select {
  background-color: $covid-gray;
  border: 2px solid $covid-gray;
  border-radius: 4px;
  color: $covid-white;
  cursor: pointer;
  font-size: 16px;
  height: $space-7;
  margin-top: $space-2;
  outline: none;

  &:hover {
    background-color: $covid-gray;
    color: $covid-white;
  }

  option {
    &:hover {
      background-color: $covid-gray;
      color: $covid-white;
    }
  }
}

.covid-button {
  background-color: $covid-organge;
  border: 2px solid $covid-organge;
  border-radius: 4px;
  color: $covid-white;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  padding: $space-3;
  text-decoration: none;

  &:focus {
    color: $covid-black;
  }
}

.secondary-button {
  background-color: transparent;
  border: 2px solid $covid-organge;
  border-radius: 4px;
  color: $covid-organge;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  padding: $space-3;
  text-decoration: none;
  width: 100%;

  &:focus {
    background-color: $covid-organge;
    color: $covid-black;
  }

  &:active {
    background-color: $covid-organge;
    color: $covid-black;
  }
}

.page-wrapper {
  color: $covid-white;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  margin: auto;
  min-height: 100vh;
  text-align: center;

  .content {
    margin: 3.5rem auto $space-8;
    padding: $space-4;
    width: 70%;

    &__wrapper {
      width: 100%;
    }
  }
}

img { 
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 800px) {
  .covid-button {
    width: 100%;

    &:hover {
      color: unset;
    }
  }

  .page-wrapper {
    .content {
      margin: 3.5rem auto auto;
      width: unset;
    }
  }

  a, button {
    -webkit-tap-highlight-color: transparent;
  }
} 
