<footer class="footer">
  {% block footer %}
  <a
    class="footer__link"
    href="/about"
  >Acerca de este proyecto y su finalidad</a>
  <p class="footer__separator">&nbsp;&nbsp;|&nbsp;&nbsp;</p>
  <a
    class="footer__link"
    href="https://api.cloud.ifca.es:8080/swift/v1/covid19/AVISO%20LEGAL%20Y%20POLITICA%20DE%20PRIVACIDAD.pdf"
    target="_blank"
  >Términos y condiciones de uso</a>
  <p class="footer__separator">&nbsp;&nbsp;|&nbsp;&nbsp;</p>
  <a
    class="footer__link"
    href="mailto:covid19training@ifca.unican.es"
  >Contacta con nosotros</a>
  <p class="footer__separator">&nbsp;&nbsp;|&nbsp;&nbsp;</p>
  <p class="footer__copyright">Copyright &copy; IFCA - CSIC - HUMV</p>
  {% endblock %}
</footer>
