<footer class="footer">
  {% block footer %}
  <a
    class="footer__link"
    href="{{ g.language }}/about"
  >
    {{ _('footer.about') }}
  </a>
  <p class="footer__separator">&nbsp;&nbsp;|&nbsp;&nbsp;</p>
  <a
    class="footer__link"
    href="https://api.cloud.ifca.es:8080/swift/v1/covid19/AVISOLEGALYPOLITICADEPRIVACIDAD.pdf"
    target="_blank"
  >
    {{ _('footer.terms-and-conditions') }}
  </a>
  <p class="footer__separator">&nbsp;&nbsp;|&nbsp;&nbsp;</p>
  <a
    class="footer__link"
    href="mailto:covid19training@ifca.unican.es"
  >
    {{ _('footer.contact-us') }}
  </a>
  <p class="footer__separator">&nbsp;&nbsp;|&nbsp;&nbsp;</p>
  <p class="footer__copyright">
    {{ _('footer.copyright') }}
  </p>
  {% endblock %}
</footer>
